{
  "extends": [
    "eslint-config-netlify",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "all",
      "printWidth": 80
    }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.dev.js"
      }
    }
  },
  "globals": {
    "CMS_ENV": true
  }
}
