{
  "extends": [
    "eslint-config-netlify",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "all",
      "printWidth": 120
    }],
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "react/no-unescaped-entities": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.dev.js"
      }
    }
  },
  "globals": {
    "CMS_ENV": true
  }
}
