{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.dev.js"
      }
    }
  },
  "globals": {
    "CMS_ENV": true
  }
}
